{{! Hero about us start --}}
  <div class="container-fluid mt-5" id="serviseid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">Our Servises</h1>
        <p class="text-center main-heading">Grow your business with use</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text order-md-0 order-1">
            <h1>WE WILL HELP YOU TO</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quos ullam explicabo porro eveniet minus, ipsum vel molestiae magnam enim repellendus qui. Commodi ab quos error sed? Nulla, saepe? Eveniet at ea similique eos consectetur, facere, necessitatibus autem harum pariatur vitae labore, tenetur sint libero aspernatur laborum. Libero error assumenda maiores harum vel totam minima mollitia in, omnis amet nobis, consequuntur, culpa perferendis nesciunt ipsa? Molestias officiis labore vel minima.<span>Professional Developer 🤞</span></p>
            <button class="btn-style btn-primary">Read More</button>
          </div>
          {{!-- right side  --}}
           
          <div class="col-md-6 col-12 hero-text order-md-1 order-0">
             <figure>
               <img src="images/growth.svg" alt="Herosection_images">
             </figure>
           </div>
        </div>
      </div>
    </div>
  </div>

  {{! Hero about us end --}}